@charset "utf-8";
/* CSS Document */


/* HTML ELEMENTS */
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(30,30,30);
}

.clima-app-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    padding-top: 0.0rem;
    padding-bottom: 0.0rem;
    font-weight: 500;
}

/* Used to hide the ugly default file upload field */
#clima-epw-file-input {
  visibility: hidden;
  width: 0;
  height: 0;
}

.controls {
  padding-top: 5.0rem;
}

.viewport {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  padding: 0rem 0.75rem 0.75rem 0.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 0.25rem;
  transition: all 0.03s ease-in-out;
}

.viewport:hover {
  color: #a8afb6;
  background-color: transparent;
  background-image: none;
  border-color: #a8afb6;
}

.viewport-select, .viewport-select:hover {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border: 1px solid #007bff;
}

.viewport-control-bar {
  padding: 0px;
  text-align: right;
}

.viewport-control-button {
  margin-left: 0.8rem;
  margin-top: 0.4rem;
}

svg {
  width: 100%;
  height: auto;
}

.geo-graticule {
  fill: none;
  stroke: rgb(165, 165, 165);
  stroke-width: 0.5px;
  stroke-opacity: 0.5;
}

.geo-land {
  fill: rgb(212, 212, 212);
}

.geo-boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.geo-data {
  fill: rgb(75, 82, 177);
  stroke: rgb(75, 82, 177);
}

.geo-sphere {
  fill: none;
  stroke: black;
}


 /* Modal Sizing for Large Screens */
@media (min-width: 1200px) {
  .modal-lg {
    max-width: 1000px;
  }
}

@media (min-width: 1400px) {
  .modal-lg {
    max-width: 1200px;
  }
}

/* TODO: CUT OUT BLOXPLOT BULLSHIT */

.boxplot-board {
  font: 10px sans-serif;
}

.boxplot-board line,
.boxplot-board rect,
.boxplot-board circle {
  fill: white;
  stroke: #000;
  stroke-width: 1px;
}

.boxplot-board .center {
  stroke-dasharray: 3, 3;
}

.boxplot-board .outlier {
  fill: none;
  stroke: #000;
}

.axis {
  font: 12px sans-serif;
}

.axisNew {
  font: 12px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

