@charset "utf-8";
/* CSS Document */


/* HTML ELEMENTS */
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(30,30,30);
}

.clima-app-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    padding-top: 0.0rem;
    padding-bottom: 0.0rem;
    font-weight: 500;
}

/* Used to hide the ugly default file upload field */
#clima-epw-file-input {
  visibility: hidden;
  width: 0;
  height: 0;
}
