@charset "utf-8";
/* CSS Document */


/* HTML ELEMENTS */
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(30,30,30);
}

.clima-app-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    padding-top: 0.0rem;
    padding-bottom: 0.0rem;
    font-weight: 500;
}

/* Used to hide the ugly default file upload field */
#clima-epw-file-input {
  visibility: hidden;
  width: 0;
  height: 0;
}

.controls {
  padding-top: 5.0rem;
}

.viewport {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  padding: 0.75rem 0.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 0.25rem;
  transition: all 0.05s ease-in-out;
}

.viewport:hover {
  color: #868e96;
  background-color: transparent;
  background-image: none;
  border-color: #868e96;
}

.viewport-select, .viewport-select:hover {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border: 1px solid #007bff;
}

svg {
  width: 100%;
  height: auto;
}


 /* Modal Sizing for Large Screens */
@media (min-width: 1200px) {
  .modal-lg {
    max-width: 1000px;
  }
}

@media (min-width: 1400px) {
  .modal-lg {
    max-width: 1200px;
  }
}

